
@page
@model IndexModel


@{
    ViewData["Title"] = "CODERS";
    var list = Model.Coders.ToList();
}

<h1 class="text-white text-center mt-5">@ViewData["Title"]</h1>

<table
    class="table caption-top table-striped table-bordered table-sm align-middle text-center text-capitalize container">
    <caption>List of coders</caption>
    <thead>
        <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">last Name</th>
            <th scope="col">email</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var coder in list)
        {
            <tr class="text-white">
                <th scope="row">@coder.Id</th>
                <td>@coder.Name</td>
                <td>@coder.LastName</td>
                <td>@coder.Email</td>
            </tr>
        }
    </tbody>
</table>
